deb [trusted=yes] http://archive.debian.org/debian/ {{ OS }} main non-free contrib
deb-src [trusted=yes] http://archive.debian.org/debian/ {{ OS }} main non-free contrib
deb [trusted=yes] http://archive.debian.org/debian-security/ {{ OS_security }} main non-free contrib
deb-src [trusted=yes] http://archive.debian.org/debian-security/ {{ OS_security }} main non-free contrib