# 2017-05-25
# DeltaMaker configuration parameters.
# enter the 4-digit serial number, printer height, and nozzle diameter below:

serialnumber {{ serial_number }}

{% if model == "DeltaMaker 2" %}
# standard height printer
  {% if nozzle == "0.35" %}
dm-config std 35
  {% else %}
dm-config std 50
  {% endif %}
{% endif %}


{% if model == "DeltaMaker 2T" %}
# tall printer
  {% if nozzle == "0.35" %}
dm-config tall 35
  {% else %}
dm-config tall 50
  {% endif %}
{% endif %}

{% if model == "DeltaMaker 2XT" %}
# extra-tall printer
  {% if nozzle == "0.35" %}
dm-config xtall 35
  {% else %}
dm-config xtall 50
  {% endif %}
{% endif %}

dm-config adv
#dm-config usr
dm-config expandfs
