deb [trusted=yes] http://deb.debian.org/debian {{ OS }} main contrib non-free
deb [trusted=yes] http://deb.debian.org/debian {{ OS }} main contrib non-free
deb [trusted=yes] http://deb.debian.org/debian {{ OS_Security }} main contrib non-free
deb [trusted=yes] http://security.debian.org/debian-security/ {{ OS_Security }} main contrib non-free