axes:
  e:
    inverted: false
    speed: 300
  x:
    inverted: false
    speed: 6000
  y:
    inverted: false
    speed: 6000
  z:
    inverted: false
    speed: 6000
color: default
extruder:
  count: 1
  nozzleDiameter: 0.5
  offsets:
  - - 0.0
    - 0.0
  sharedNozzle: false
heatedBed: false
id: deltamaker_.50_nozzle
model: DeltaMaker
name: DeltaMaker .50 Nozzle
volume:
  custom_box: false
  depth: 240.0
  formFactor: circular
  height: {{ print_height }}
  origin: center
  width: 240.0
