accessControl:
  salt: {{ salt }}
api:
  allowCrossOrigin: true
  key: {{ API_key }}
appearance:
  color: orange
  components:
    order:
      sidebar:
      - connection
      - state
      - plugin_automaticshutdown
      - files
  name: DeltaMaker {{ serial_number }}
controls:
- children:
  - commands:
    - G28
    - G29 A
    name: Auto Bed Mapping
    type: commands
  - commands:
    - G28
    - G1 Z30 F2000
    - G1 Z0 F500
    name: Move Nozzle to Bed
    type: commands
  - commands:
    - G29 R0.05
    - G91
    - G1 Z1
    - G1 Z-1
    - G90
    name: Too Low
    type: commands
  - commands:
    - G29 R-0.05
    - G91
    - G1 Z1
    - G1 Z-1
    - G90
    name: Too High
    type: commands
  - commands:
    - G28
    - M500
    name: Save & Home
    type: commands
  layout: vertical
  name: Bed Leveling & Nozzle Height
  type: section
- children:
  - commands:
    - G1 Z5 F3000
    - G29 M5
    - G1 Z0 F3000
    name: Next Calibration Point
    type: commands
  - commands:
    - G29 L0.05
    - G91
    - G1 Z1
    - G1 Z-1
    - G90
    name: Point Too Low
    type: commands
  - commands:
    - G29 L-0.05
    - G91
    - G1 Z1
    - G1 Z-1
    - G90
    name: Point Too High
    type: commands
  - command: M500
    name: SAVE
    type: command
  - command: M501
    name: Discard Changes
    type: command
  layout: vertical
  name: Touch Probe Calibration (advanced)
  type: section
feature:
  keyboardControl: false
  sdSupport: false
folder:
  printerProfiles: /home/pi/.octoprint/printerProfiles
  slicingProfiles: /home/pi/.octoprint/slicingProfiles
gcodeViewer: {}
plugins:
  _disabled:
  - announcements
  announcements:
    channels:
      _important:
        read_until: 1460575175
  cura:
    cura_engine: /home/pi/CuraEngine/build/CuraEngine
    debug_logging: true
  discovery:
    model:
      name: {{ model }}
      vendor: DeltaMaker 3D Printers
    publicPort: 80
    upnpUuid: {{ uuid }}
  firmwareupdater:
    avrdude_path: /usr/bin/avrdude
    check_after_connect: false
  softwareupdate:
    _config_version: 5
    cache_ttl: 60
    check_providers:
      automaticshutdown: automaticshutdown
      autoscroll: autoscroll
      customcontrol: customControl
      editorcollection: editorcollection
      printhistory: printhistory
      slicer: slicer
      systemcommandeditor: systemcommandeditor
    checks:
      octoprint:
        checkout_folder: /home/pi/OctoPrint
printerParameters: {}
default: default_deltamaker_.50_nozzle
printerProfiles:
  defaultProfile:
    axes:
      e:
        inverted: false
        speed: 300
      x:
        inverted: false
        speed: 6000
      y:
        inverted: false
        speed: 6000
      z:
        inverted: false
        speed: 6000
    color: default
    extruder:
      count: 1
      nozzleDiameter: 0.5
      offsets:
      - - 0.0
        - 0.0
      sharedNozzle: false
    heatedBed: false
    id: default_deltamaker_.50_nozzle
    model: DeltaMaker
    name: Default DeltaMaker .50 Nozzle
    volume:
      custom_box: false
      depth: 240.0
      formFactor: circular
      height: {{ print_height }}
      origin: center
      width: 240.0
serial:
  autoconnect: true
  baudrate: 250000
  port: /dev/ttyUSBDM
  timeout: {}
server:
  commands:
    serverRestartCommand: sudo service octoprint restart
    systemRestartCommand: sudo shutdown -r now
    systemShutdownCommand: sudo shutdown -h now
  firstRun: false
  secretKey: VeX1fpBvddkX6wacI9Ie62uQScQWQPWB
  seenWizards:
    corewizard: null
slicing:
  defaultProfiles:
    cura: DeltaMaker_Default
system: {}
temperature:
  cutoff: 60
  profiles:
  - bed: '0'
    extruder: '230'
    name: DM-PLA
  - bed: '0'
    extruder: '100'
    name: UNLOAD
webcam:
  ffmpeg: /usr/bin/avconv
  snapshot: http://deltamaker-{{ serial_number }}.local:8080/webcam/?action=snapshot
  stream: http://deltamaker-{{ serial_number }}.local:8080/?action=stream
  watermark: false
