global
        maxconn 256
        user haproxy
        group haproxy
        daemon
        log 127.0.0.1 local0 debug

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        option http-server-close
        option forwardfor
        maxconn 2000
        timeout connect 5s
        timeout client 1800s
        timeout server 1800s
        timeout http-request 10s
        timeout http-keep-alive 2s
        timeout queue 5s
        timeout tunnel 2m
        timeout client-fin 1s
        timeout server-fin 1s

frontend public
        bind *:80
        use_backend webcam if { path_beg /webcam/ }
        use_backend info if { path_beg /info }
        default_backend octoprint

backend octoprint
        http-request replace-path ^([^\ :]*)\ /(.*)     \1\ /\2
        http-response set-header X-Server %s
        option forwardfor
        server octoprint1 127.0.0.1:5000

backend webcam
        http-request replace-path ^([^\ :]*)\ /webcam/(.*)     \1\ /\2
        http-response set-header X-Server %s
        server webcam1  127.0.0.1:8080

backend info
        http-request replace-path ^([^\ :]*)\ /info(.*)     \1\ /\2
        http-response set-header X-Server %s
        server info1  127.0.0.1:8088
